@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');
@import '../../../assets/css/variables.scss';


body {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  background-color: rgb(17, 16, 20);
  color: rgb(240, 253, 255);
  padding: 5px;
}
.container {
max-width: 1140px;
margin: 0 auto; 
}
.field-card {
  background-color: $sub-black;
  border-radius: 5px;
  padding: 20px;
  &__img {
    display: inline-block;
    width: 30%;
    
    margin-right: 20px;
    img {
      width: 100%;
      border-radius: 10px;
      height: 200px;
      overflow: hidden;
    }
  }
  &__body {
    margin-top: 10px;
    display: inline-block;
    vertical-align: top;
    width: 65%;
    
  }
  &__name {
    font-size: 30px;
    font-weight: bold;
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      transform: translateX(-5px);
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: rgba(255, 255, 255, 0.384);
    }
  }
  &__audio {
    display: flex;
    width: 100%;
    border: none;
    background-color: transparent;
    box-shadow: none;
    color: #fff;
    #rhap_current-time, .rhap_time.rhap_total-time {
      color:  #fff;
    }
    .rhap_container {
      width: 100%;
      &:focus {
        outline: none !important;
      }
      
    }
    .rhap_volume-controls {
      display: block;
      outline: none;
    }
     .rhap_volume-container {
      width: 100%;
      outline: none;
    }
    .rhap_button-clear {
      svg {
        path {
          fill: #fff;
        }
      }
    }
    .rhap_progress-indicator , .rhap_volume-indicator {
      background-color: $sub-breeze;
    }
    .rhap_forward-button, .rhap_rewind-button {
      display: none;
    }
  }
}

@media screen and (max-width: 550px) {
  .field-card {
    &__img {
      display: block;
      width: 100%;
      img {
        width: 100%;
      }
    }
    &__name {
      width: 100%;
    }
    &__body {
      width: 100%;
    }
  }
  .rhap_container {
    padding: 0;
  }
}