@import '../../../assets/css/variables.scss';

.next-level-btn {
  color: #fff;
  font-size: 25px;
  width: 100%;
  background-color: darken($color: $main-green, $amount: 30%);
  border: none;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  transition: all .2s ease-in-out;
  &:hover {
    transition: all .2s ease-in-out;
    background-color: darken($color: $main-green, $amount: 20%);
  }
}